/* ---- CORPS DE LA PAGE ---- */
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Erreur géolocalisation refusée */
#error {
    font-family: sans-serif ;
    color: #aa3728;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    background-color: rgb(194, 194, 194);
    border: rgb(114, 114, 114);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

/* ---- BARRE DU HEADER ---- */
header {
    width: 100%;
    height: 60px;
    background-color: #f74049;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#zoneTitre {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 35px;
}

#logo {
    width: 50px;
    height: auto;
    opacity: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.4em;
    margin-left: 5px;
    margin-right: 30px;
    opacity: 0;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;
    margin-right: 50px;
}

/* ---- ZONE DU FILTRAGE ---- */

/* Barre sous le header */
#zoneInfo {
    height: 80px;
    background: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}

/* Zone du filtrage */
#zoneRange {
    display: flex;
    flex-direction: row;
}

#zoneRange p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 88, 88);
    font-size: 1em;
    font-weight: bold;
    margin-right: 25px;
    margin-bottom: 15px;
}

#contentRange {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 50px;
}

#note {
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.88em;
    font-weight: bold;
    color: #e64f2a;
    background-color: #eeeeee00;
    margin-bottom: 10px;
    border: 0;
    outline-style : none;
}

/* Zone info du clic sur la map */
#zoneInfoClic{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#textInfo {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 88, 88);
    font-size: 1em;
    font-weight: bold;
    margin-right: 90px;
}

bold {
    color: #fc853a; /* Ou #f74049da */
    font-weight: 800;
}

#iconMouse {
    width: 20px;
    height: auto;
    margin-left: 4px;
    margin-bottom: -5px;
}

/* ---- ZONE D'AFFICHAGE DU CONTENU ---- */

.affichage {
    display: flex;
    flex-direction: row;
    border-top: 4px solid rgb(182, 182, 182);
    border-bottom: 4px solid rgb(182, 182, 182);
}

/* ---- ZONE DE LA MAP ---- */

#zoneMap {
    width: 65%;
    height: 600px;
}

/* ---- ZONE DE LA LISTE ---- */

#zoneListe {
    width: 35%;
    height: 600px;
    overflow-y: scroll;
    border-left: 2px solid rgb(182, 182, 182);
}

/* Zone du scroll */
#zoneListe::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(214, 214, 214);
}

#zoneListe::-webkit-scrollbar-button:start:decrement,
#zoneListe::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 15px;
}

/* Barre de scroll */
#zoneListe::-webkit-scrollbar-thumb {
    background-color: rgb(148, 148, 148);
    border-radius: 5px;
}

#zoneListe li {
    height: auto;
    border: 4px solid #e4e4e4;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: 10px;
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: #eeeeeec2;
}

#zoneListe li:hover {
    /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
    border-color:  rgba(207, 207, 207, 0.918);
    background-color: #ebe8e8;
}

/* Nom du resto */
.contentItem {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: -10px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: #e64f2a;
    font-size: 1.1em;
    margin-bottom: 0px;
    padding-left: 10px;
    text-align: right;
}

.restoAdress {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 88, 88);
    font-size: 0.9em;
    text-align: right;
    margin-top: 10px;
    padding-left: 10px;
    text-align: right;
}

.restoNote {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #e64f2a;
    font-size: 0.95em;
    font-weight: bold;
    margin-top: -5px;
    padding-left: 10px;
    text-align: right;
}

/* Petite étoile */
strong {
    color: #fbb03b;
    font-size: 1.2em;
}

/* Photo du resto dans la liste */
.photoBox {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.photoList {
    width: 100%;
    height: 70%;
    max-height: 90px;
    border: 4px solid rgb(207, 207, 207);
    border-radius: 5px;
}

/* ---- OVERLAY POP UP INFO RESTO ---- */

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(133, 133, 133, 0.562); */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* z-index: 300; */
    display: none;
}

#overlayBack {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(133, 133, 133, 0.562);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 200;
    display: none;
}

/* Fenetre info */
#infoResto {
    width: 40%;
    height: 490px;
    margin-bottom: 180px;
    background-color: #ffffff;
    /* border: 4px solid rgb(207, 207, 207); */
    border-radius: 15px 10px 10px 15px;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 300;
}

/* Zone du scroll */
#infoResto::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(214, 214, 214);
    border-radius: 0 15px 15px 0;
}

#infoResto::-webkit-scrollbar-button:start:decrement,
#infoResto::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 15px;
}

/* Barre de scroll */
#infoResto::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 136);
    border-radius: 5px;
}

/* Bouton fermeture */
#closeBox{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
    margin-right: 15px;
}

#buttonClose{
    cursor: pointer;
    position: absolute;
}

#buttonClose img{
    width: 20px;
    height: auto;
}

#buttonClose img:hover {
    filter: saturate(200%);
    -webkit-filter: saturate(200%);
}

/* Contenu dans la fenetre info (pop up)*/

/* Titre */
h3 {
    color: #e64f2a;
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
    
    margin-top: -15px;
    font-size: 27px;
    height: 50px;
    background-color: rgb(224, 224, 224);
    border-bottom: 4px solid #fbb13bd3;
}

#separatePop {
    width: 25%;
    height: 5px;
    background-color: #fbb13bd3;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    margin-top: -12px;
    margin-bottom: 15px;
}

#iconCook {
    text-align: center;
}

#iconCook img {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}

#photoResto {
    text-align: center;
}

#photoResto img {
    width: 65%;
    height: auto;
    border: 5px solid rgb(207, 207, 207);
    border-radius: 5px;
}

#adresseResto p {
    text-align: center;
    color: #4b4b4b;
    margin-top: 20px;
    padding: 0 30px 0 30px;
    
}

#noteMoyenne p {
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    color: #e64f2a;
    margin-top: 30px;
    padding: 0 30px 0 30px
}

#iconRate {
    text-align: center;
}

#iconRate img {
    width: 60px;
    height: auto;
}

#titleAvis {
    font-size: 1em;
    font-weight: bold;
    color: #5a5a5a;
}

#separateCom {
    width: 80%;
    margin-top: 20px;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#zoneAvis {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contentZoneAvis {
    padding: 0 30px 0 60px;
    width: 70%;
}

.ratingItem {
    margin-top: 30px;
}

.ratingItem p {
    font-size: 1em;
    color: rgb(82, 82, 82);
}

.ratingItem p:nth-child(2) {
    margin-top: 25px;
    padding-right: 25px;
}

/* bouton de suppression de com */
#dots {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    margin-top: -17px;
    color:rgb(194, 194, 194);
    font-size: 0.9em;
}

#bulleSuppr {
    display: flex;
    background-color: #adadadc0;
    height: 25px;
    padding: 2px;
    margin-right: 5px;
    border-radius: 5px;
    z-index: 15;
}

#buttonSuppr {
    cursor: pointer;
    border:none;
    outline:none;
    background-color: rgba(252, 252, 252, 0);
    color: white;
    font: Bold 13px Arial;
}

#buttonAvisBox {
    display: flex;
    justify-content: center;
}

#buttonAddAvis, #buttonSend, #buttonCancel {
    margin-top: 15px;
    padding: 6px 0 6px 0;
	font: Bold 13px Arial;
	color:#fff;
	width: 130px;
	border-radius: 4px;
    border: none;
    outline-style: none;
}

#buttonAddAvis {
    background: #d34836;
}

#buttonSend {
    background: #fbb03b;
}

#buttonCancel {
    background-color: #c5c4c4;
}

#buttonSend:hover {
    cursor: pointer;
	background: #eba12b;
    color:#fff;
}

#buttonAddAvis:hover  {
    cursor: pointer;
	background: #aa3728;
    color:#fff;
}

#buttonCancel:hover  {
    cursor: pointer;
	background: #a5a5a5;
}

/* Formulaire d'ajout de commentaire */
#formAvis {
    margin: 25px 0 15px 0;
    display: none;
}

#formAvis form {
    padding-right: 15px;
}

#addNote {
    width: 50px;
    outline-style: none;
}

#addCommentaire {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    outline-style: none;
}

label {
    font-size: 1em;
    font-weight: 600;
    color: rgb(82, 82, 82);
}

/* ---- MARQUEURS DE LA MAP ---- */

.marker {
/* décalage pour que l'img du marqueur soit centrée sur le marqueur réel /!\ ces valeurs sont liées à la résolution de l'image utilisée */
 margin-top: -60px; /* on retire la hauteur totale */ 
 margin-left: -25px; /* on retire la moitié de la largeur (pour le centrer) */
}

.marker:hover {
    cursor: pointer;
    filter: saturate(600%);
    -webkit-filter: saturate(600%);
    z-index: 300;
}

/* Marker user */
#marker-200 {
    z-index: 50;
    filter: saturate(100%);
    -webkit-filter: saturate(100%);
}

.marker.is-active {
/* image est grossie de 25% */
-webkit-transform:scale(1.25); /* Safari et Chrome */
-moz-transform:scale(1.25); /* Firefox */
-ms-transform:scale(1.25); /* Internet Explorer 9 */
-o-transform:scale(1.25); /* Opera */
transform:scale(1.25);
filter: saturate(600%);
-webkit-filter: saturate(600%);
z-index: 100;
display: flex;
flex-direction: column;
align-items: center;
margin-top: -57px;
margin-left: -55px;
}

#infoBulle {
    width: 100px;
    height: auto;
    margin-top: 1px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: rgba(75, 75, 75, 0.849);
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 20px;
    border: 3px solid #d1d1d1;
}

/* ---- FOOTER ---- */

#footer {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(114, 114, 114);
}

/* -------- MEDIA QUERIES RESPONSIVE -------- */

/*** FORMAT TABLETTE ***/
@media screen and (max-width: 1003px) {
    html {
        overflow-x: hidden;
    }

    #error {
        font-size: 0.8em;
    }
    
    /* Overlay Pop Up */
    #infoResto {
        width: 50%;
        margin-bottom: 200px;
    }
    /* Fin overlay pop up */

    /* Zone filtrage */
    #note {
        margin-top: 10px;
    }

    #zoneRange p {
        margin-right: 20px;
        text-align: center;
    }

    /* ---- ZONE DE LA LISTE ---- */

    #zoneListe li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contentItem {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    
    /* Nom du resto */
    h4 {
        font-size: 0.98em;
        margin-bottom: 0px;
        margin-right: 30px;
    }

    .restoAdress {
        font-size: 0.88em;
        margin-top: 8px;
        padding-left: 20px;
        text-align: right;
        margin-right: 30px;
    }

    .restoNote {
        font-size: 0.88em;
        margin-top: -10px;
        margin-right: 30px;
        padding-left: 10px;
        text-align: center;
    }

    /* Photo du resto dans la liste */
    .photoBox {
        width: 60%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 6px;
    }

    .photoList {
        width: 100%;
        height: 20%;
        max-height: 100px;
    }
}

/*** FORMAT SMARTPHONE ***/
@media screen and (max-width: 680px) {

    html {
        overflow-x: hidden;
    }

    #error {
        text-align: left;
        padding: 8px;
        margin: 12px;
        font-size: 0.7em;
    }

    /* ---- BARRE DU HEADER ---- */
    #zoneTitre {
        margin-left: 15px;
    }

    #logo {
        width: 45px;
        height: auto;
        opacity: 0;
    }

    h1 {
        font-size: 1.1em;
    }

    h2 {
        font-size: 0.72em;
        margin-right: 20px;
        margin-left: 20px;
    }

    /* ---- ZONE SOUS LE HEADER ---- */
    #zoneInfo {
        height: 80px;
        padding-left: 30px;
    }

    /* Zone du filtrage */
    #zoneRange {
        margin-top: -15px;
        flex-direction: column;
        align-items: center;
    }

    #zoneRange p {
        font-size: 0.75em;
        margin-right: 35px;
    }

    #contentRange {
        margin-right: 40px;
        margin-top: -20px;
        width: 100px;
    }

    #note {
        font-size: 0.75em;
    }

    /* Zone info du clic sur la map */
    #zoneInfoClic {
        margin-top: -8px;
    }
    
    #textInfo {
        font-size: 0.75em;
        font-weight: bold;
        margin-right: 30px;
    }

    /* ZONE LISTE */
    #zoneListe li {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contentItem {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /* Nom du resto */
    h4 {
        font-size: 0.7em;
        text-align: center;
        padding-left: 30px;
    }
    
    .restoNote {
        font-size: 0.7em;
        margin-top: 0px;
        padding-left: 30px;
        text-align: center;
    }
    
    .restoAdress {
        display: none;
    }

    /* Photo du resto dans la liste */
    .photoBox {
        width: 90px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }
    
    .photoList {
        width: 60px;
        height: 35px;
    }
    /* Fin zone liste */

    /* Overlay Pop Up */
    #infoResto {
        width: 70%;
        margin-bottom: 230px;
    }

    h3 {
        padding-top: 25px;
        font-size: 20px;
    }

    #adresseResto p {
        font-size: 0.9em;
    }

    #noteMoyenne p {
        font-size: 0.9em;
        margin-top: 30px;
        padding: 0 30px 0 30px
    }

    #noteMoyenne p strong {
        display: none;
    }

    #iconRate img {
        width: 45px;
        height: auto;
    }

    #titleAvis {
        font-size: 0.88em;
        padding-left: 10px;
    }

    .ratingItem p {
        font-size: 0.8em;
        color: rgb(82, 82, 82);
        padding-left: 15px;
    }

    #contentZoneAvis {
        padding: 0 0px 0 0px;
        width: 90%;
    }

    #buttonClose img{
        width: 17px;
        height: auto;
    }

    #closeBox {
        margin-top: 10px;
        margin-right: 10px;
    }
    /* fin overlay pop up */
}